# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# env files (can opt-in for committing if needed)
.env*

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts
.scannerwork/.sonar_lock
.scannerwork/report-task.txt
.scannerwork/architecture/ts/src_app_actions_ts.udg
.scannerwork/architecture/ts/src_app_admin_actions_ts.udg
.scannerwork/architecture/ts/src_app_admin_components_AdminClient_tsx.udg
.scannerwork/architecture/ts/src_app_admin_components_EditorWrapper_tsx.udg
.scannerwork/architecture/ts/src_app_admin_components_LoginForm_tsx.udg
.scannerwork/architecture/ts/src_app_admin_page_tsx.udg
.scannerwork/architecture/ts/src_app_layout_tsx.udg
.scannerwork/architecture/ts/src_app_notes_page_tsx.udg
.scannerwork/architecture/ts/src_app_page_tsx.udg
.scannerwork/architecture/ts/src_app_projects_page_tsx.udg
.scannerwork/architecture/ts/src_app_snippets_\[category]_\[slug]_page_tsx.udg
.scannerwork/architecture/ts/src_app_snippets_\[category]_page_tsx.udg
.scannerwork/architecture/ts/src_app_snippets_page_tsx.udg
.scannerwork/architecture/ts/src_app_tools_page_tsx.udg
.scannerwork/architecture/ts/src_app_tools_ToolsClient_tsx.udg
.scannerwork/architecture/ts/src_app_writing_\[slug]_page_tsx.udg
.scannerwork/architecture/ts/src_app_writing_page_tsx.udg
.scannerwork/architecture/ts/src_app_writing_WritingClient_tsx.udg
.scannerwork/architecture/ts/src_components_ArticleCard_tsx.udg
.scannerwork/architecture/ts/src_components_Button_tsx.udg
.scannerwork/architecture/ts/src_components_CodeBlock_tsx.udg
.scannerwork/architecture/ts/src_components_CodeBlockClient_tsx.udg
.scannerwork/architecture/ts/src_components_CommandPalette_tsx.udg
.scannerwork/architecture/ts/src_components_FaqItem_tsx.udg
.scannerwork/architecture/ts/src_components_FieldControl_tsx.udg
.scannerwork/architecture/ts/src_components_Footer_tsx.udg
.scannerwork/architecture/ts/src_components_Navbar_tsx.udg
.scannerwork/architecture/ts/src_components_PageHeader_tsx.udg
.scannerwork/architecture/ts/src_components_StatCounter_tsx.udg
.scannerwork/architecture/ts/src_components_Tag_tsx.udg
.scannerwork/architecture/ts/src_components_TechIcon_tsx.udg
.scannerwork/architecture/ts/src_lib_config_ts.udg
.scannerwork/architecture/ts/src_lib_constants_ts.udg
.scannerwork/architecture/ts/src_lib_mdx_ts.udg
.scannerwork/architecture/ts/src_lib_supabase_client_ts.udg
.scannerwork/architecture/ts/src_lib_supabase_middleware_ts.udg
.scannerwork/architecture/ts/src_lib_supabase_server_ts.udg
.scannerwork/architecture/ts/src_lib_utils_ts.udg
.scannerwork/architecture/ts/src_proxy_ts.udg
